* {
    box-sizing: border-box;
    margin: 0;
}

header {
    background-image: url('../img/pattern.png');
    height: 90px;
    background-color: #4ea0ff;
    background-size: 360px;
}

main {
    padding-left: 5px;
}

#logo {
    height: 45px;
    margin-top: 35px;
    padding-left: 5px;
}

#title {
    padding-top: 20px;
}

h1 {
    font-size: 35px;
}

.edit-info {
    color: #878787;
}

#author-date {
    font-size: 18px;
}

.small {
    font-size: 12px;
}

.author {
    color: #37b2e8;
}

.tim-images {
    height: 340px;
    width: auto;
}